@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/Roboto-Regular.eot");
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url("../fonts/Roboto-Medium.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/Roboto-Bold.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

body, html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  position: relative;
  font-size: 15px;
  min-width: 320px;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul, li {
  display: block;
  padding: 0px;
  margin: 0px;
}

textarea {
  resize: none;
}

p {
  font-size: 16px;
}

img {
  border-style: none;
}

button {
  border: 0;
  background: transparent;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: none;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoratio {
  display: none;
}

[hidden] {
  display: none;
}

p, nav {
  margin: 0;
  padding: 0;
}

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
}

input {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

body {
  background-color: #292D4E;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

h1, h2, h3, h4, p, a, button, span, input, li, blockquote {
  font-family: 'Roboto Regular';
  color: #fff;
  font-size: 14px;
  line-height: 167.5%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

blockquote {
  margin: 0;
  background: #171718;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.title {
  margin-bottom: 20px;
  background: #20B0A8;
  font-family: 'Roboto Medium';
  font-size: 18px;
  line-height: 120%;
  padding: 4px 10px 4px 25px;
  position: relative;
  margin-right: 20px;
  font-weight: normal;
}

.title::after {
  content: '';
  position: absolute;
  background: rgba(32, 176, 168, 0.78);
  width: 30px;
  height: 31px;
  -webkit-transform: skewY(-22deg);
          transform: skewY(-22deg);
  bottom: -7px;
  right: 0.5px;
  z-index: -1;
}

.s-title {
  background: #20B0A8;
  font-family: 'Roboto Bold';
  text-transform: uppercase;
  font-size: 22px;
  line-height: 120%;
  padding: 8px 30px;
  position: relative;
  text-align: center;
  margin-bottom: 45px;
}

.s-title::before {
  content: '';
  position: absolute;
  background: rgba(32, 176, 168, 0.78);
  width: 45px;
  height: 31px;
  -webkit-transform: skewY(22deg);
          transform: skewY(22deg);
  bottom: -10px;
  left: 0;
  z-index: -1;
}

.s-title::after {
  content: '';
  position: absolute;
  background: rgba(32, 176, 168, 0.78);
  width: 45px;
  height: 31px;
  -webkit-transform: skewY(-22deg);
          transform: skewY(-22deg);
  bottom: -10px;
  right: 0;
  z-index: -1;
}

.saidbar {
  position: relative;
  -webkit-animation: saidbarAnim 0.5s ease-in 0.5s forwards;
          animation: saidbarAnim 0.5s ease-in 0.5s forwards;
  width: 300px;
  left: -320px;
  opacity: 0;
  -webkit-box-shadow: 20px 0px 25px rgba(0, 0, 0, 0.25), -20px 0px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 20px 0px 25px rgba(0, 0, 0, 0.25), -20px 0px 25px rgba(0, 0, 0, 0.25);
}

.saidbar .header {
  height: 320px;
  background: url("../img/avatar.jpg") no-repeat center/cover;
  -webkit-animation: saidbarAvatar 0.8s ease-in 0.8s forwards;
          animation: saidbarAvatar 0.8s ease-in 0.8s forwards;
  background-position-y: 330px;
}

.saidbar .header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  height: 100%;
  position: relative;
  z-index: 1;
}

.saidbar .header-info::before {
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#292D4E));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #292D4E 100%);
  width: 100%;
  height: 160px;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.saidbar .header-info__title {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  line-height: 120%;
  margin-bottom: 5px;
}

.saidbar .header-info__title span {
  font-family: 'Roboto Bold';
  font-size: 24px;
  line-height: 120%;
}

.saidbar .header-info__specialise {
  text-align: center;
  font-size: 18px;
  line-height: 120%;
  color: #FB9D24;
  text-transform: uppercase;
}

.saidbar-block {
  padding-top: 30px;
}

.saidbar-block-item, .saidbar-block .saidbar-list {
  padding: 0 25px;
}

.saidbar-block-item:not(:nth-child(2)), .saidbar-block .saidbar-list:not(:nth-child(2)) {
  margin-top: 15px;
}

.saidbar-block-item-inner, .saidbar-block .saidbar-list-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.saidbar-block-item-inner .saidbar-block-item__icon, .saidbar-block .saidbar-list-inner .saidbar-block-item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
}

.saidbar-block-item-inner .saidbar-block-item__text, .saidbar-block .saidbar-list-inner .saidbar-block-item__text {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.saidbar-block-item-inner .saidbar-block-item__text span, .saidbar-block .saidbar-list-inner .saidbar-block-item__text span {
  line-height: 120%;
}

.saidbar-block-item-inner .saidbar-block-item__text span:first-child, .saidbar-block .saidbar-list-inner .saidbar-block-item__text span:first-child {
  font-size: 18px;
  font-family: 'Roboto Medium';
  letter-spacing: 0.5px;
}

.saidbar-block-item-inner .saidbar-block-item__text span:last-child, .saidbar-block .saidbar-list-inner .saidbar-block-item__text span:last-child {
  font-size: 16px;
}

.saidbar-block-item:nth-child(2) .saidbar-block-lang-inner .saidbar-block-lang__progress::before, .saidbar-block .saidbar-list:nth-child(2) .saidbar-block-lang-inner .saidbar-block-lang__progress::before {
  -webkit-animation: langFirst 1.5s ease-out 1.3s forwards;
          animation: langFirst 1.5s ease-out 1.3s forwards;
}

.saidbar-block-item:nth-child(3) .saidbar-block-lang-inner .saidbar-block-lang__progress::before, .saidbar-block .saidbar-list:nth-child(3) .saidbar-block-lang-inner .saidbar-block-lang__progress::before {
  -webkit-animation: langSecond 1.5s ease-out 1.3s forwards;
          animation: langSecond 1.5s ease-out 1.3s forwards;
}

.saidbar-block-item:nth-child(4) .saidbar-block-lang-inner .saidbar-block-lang__progress::before, .saidbar-block .saidbar-list:nth-child(4) .saidbar-block-lang-inner .saidbar-block-lang__progress::before {
  -webkit-animation: langThird 1.5s ease-out 1.3s forwards;
          animation: langThird 1.5s ease-out 1.3s forwards;
}

.saidbar-block-lang__title {
  font-size: 18px;
  line-height: 120%;
}

.saidbar-block-lang-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3px;
}

.saidbar-block-lang-inner .saidbar-block-lang__progress {
  width: 200px;
  border-radius: 5px;
  height: 12px;
  background-color: #C4C4C4;
  margin-right: 10px;
  position: relative;
  -webkit-transition: all ease-in .3s;
  transition: all ease-in .3s;
}

.saidbar-block-lang-inner .saidbar-block-lang__progress::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: #20B0A8;
  height: 100%;
  border-radius: 5px;
}

.saidbar-block-lang-inner .saidbar-block-lang__progress:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.saidbar-block .saidbar-list__item {
  padding-left: 15px;
  position: relative;
}

.saidbar-block .saidbar-list__item:not(:last-child) {
  margin-bottom: 5px;
}

.saidbar-block .saidbar-list__item::before {
  border-radius: 50%;
  content: '';
  position: absolute;
  top: 38%;
  left: 0;
  width: 5px;
  height: 5px;
  background: #20B0A8;
}

main {
  width: calc(100% - 300px);
  padding: 30px 60px;
  -webkit-animation: mainAnim 0.5s ease-in 0.5s forwards;
          animation: mainAnim 0.5s ease-in 0.5s forwards;
  opacity: 0;
}

main .profile {
  margin-bottom: 30px;
}

main .profile__descr {
  font-size: 16px;
}

main .skills {
  margin-bottom: 5px;
}

main .skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .skills-list .skills-item {
  width: 48%;
  position: relative;
  padding-left: 40px;
  margin-bottom: 10px;
}

main .skills-list .skills-item::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 25px;
  height: 15px;
  background: #20B0A8;
  border-radius: 100px;
}

main .skills-list .skills-item__title {
  font-size: 20px;
  line-height: 120%;
  font-family: 'Roboto Bold';
  margin-bottom: 8px;
}

main .skills-list .skills-item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .skills-list .skills-item-block__item {
  cursor: default;
  font-family: 'Roboto Medium';
  font-size: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 14px;
  margin-right: 15px;
  margin-bottom: 15px;
  background: #363B60;
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

main .skills-list .skills-item-block__item:last-child {
  margin-right: 0;
}

main .skills-list .skills-item-block__item:hover {
  background: #20B0A8;
}

main .education-list {
  margin-bottom: 30px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 10px 50px;
  background: #20B0A8;
}

.footer__years {
  font-size: 20px;
}

.footer__link img {
  width: 50px;
}

.footer__link:last-child img {
  width: 80px;
}

@-webkit-keyframes saidbarAvatar {
  0% {
    background-position-y: 330px;
  }
  100% {
    background-position-y: 0;
  }
}

@keyframes saidbarAvatar {
  0% {
    background-position-y: 330px;
  }
  100% {
    background-position-y: 0;
  }
}

@-webkit-keyframes saidbarAnim {
  0% {
    left: -320px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes saidbarAnim {
  0% {
    left: -320px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes mainAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mainAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes langFirst {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes langFirst {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes langSecond {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}

@keyframes langSecond {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}

@-webkit-keyframes langThird {
  0% {
    width: 0;
  }
  100% {
    width: 30%;
  }
}

@keyframes langThird {
  0% {
    width: 0;
  }
  100% {
    width: 30%;
  }
}
/*# sourceMappingURL=main.css.map */