// import
@import 'fonts.scss';
@import 'normalize.scss';
// config

body {
    background-color: #292D4E;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 20px 0px 25px rgba(0, 0, 0, 0.25), 

}
h1, h2, h3, h4, p, a, button, span, input, li, blockquote {
    font-family: 'Roboto Regular';
    color: #fff;
    font-size: 14px;
    line-height: 167.5%;
}
h1, h2, h3, h4,h5, h6 {
    font-weight: normal;
}
blockquote {
    margin: 0;
    background: #171718;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.title {
    margin-bottom: 20px;
    background:#20B0A8;
    font-family: 'Roboto Medium';
    font-size: 18px;
    line-height: 120%;
    padding: 4px 10px 4px 25px;
    position: relative;
    margin-right: 20px;
    font-weight: normal;
    &::after {
        content: '';
        position: absolute;
        background: rgba(32, 176, 168, 0.78);
        width: 30px;
        height: 31px;
        transform: skewY(-22deg);
        bottom: -7px;
        right: 0.5px;
        z-index: -1;
    }
}
.s-title {
    background:#20B0A8;
    font-family: 'Roboto Bold';
    text-transform: uppercase;
    font-size: 22px;
    line-height: 120%;
    padding: 8px 30px;
    position: relative;
    text-align: center;
    margin-bottom: 45px;
    &::before {
        content: '';
        position: absolute;
        background: rgba(32, 176, 168, 0.78);
        width: 45px;
        height: 31px;
        transform: skewY(22deg);
        bottom: -10px;
        left: 0;
        z-index: -1;
    }
    &::after {
        content: '';
        position: absolute;
        background: rgba(32, 176, 168, 0.78);
        width: 45px;
        height: 31px;
        transform: skewY(-22deg);
        bottom: -10px;
        right: 0;
        z-index: -1;
    }
}
.saidbar {
    position: relative;
    animation: saidbarAnim 0.5s ease-in 0.5s forwards;
    width: 300px;
    left: -320px;
    opacity: 0;
    box-shadow: 20px 0px 25px rgba(0, 0, 0, 0.25), -20px 0px 25px rgba(0, 0, 0, 0.25);
    &-btn {
        display: flex;
        background:#20B0A8;
        border: 1px solid #20B0A8;
        width: fit-content;
        padding: 8px 15px;
        margin: 0 auto;
        font-family: 'Roboto Medium';
        &:hover {
            background: transparent;
        }
    }
    .header {
        height: 320px;
        background: url('../img/avatar.jpg') no-repeat center/cover;
        animation: saidbarAvatar 0.8s ease-in 0.8s forwards;
        background-position-y: 330px;
        &-info {
            display: flex;
            flex-direction: column-reverse;
            height: 100%;
            position: relative;
            z-index: 1;
            &::before {
                content: '';
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #292D4E 100%);
                width: 100%;
                height: 160px;
                position: absolute;
                bottom: 0;
                z-index: -1;
            }
            &__title {
                order: 1;
                font-weight: 400;
                font-size: 24px;
                text-align: center;
                line-height: 120%;
                margin-bottom: 5px;
                span {
                    font-family: 'Roboto Bold';
                    font-size: 24px;
                    line-height: 120%;
                }
            }
            &__specialise {
                text-align: center;
                font-size: 18px;
                line-height: 120%;
                color: #FB9D24;
                text-transform: uppercase;
            }
        }
    }
    &-block {
        padding-top: 30px;
        &-item, .saidbar-list {
            padding: 0 25px;
            &:not(:nth-child(2)) {
                margin-top: 15px;
            }
            &-inner {
                display: flex;
                align-items: center;
                .saidbar-block-item__icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 35px;
                }
                .saidbar-block-item__text {
                    margin-left: 15px;
                    display: flex;
                    flex-direction: column;
                    span {
                        line-height: 120%;
                        &:first-child {
                            font-size: 18px;
                            font-family: 'Roboto Medium';
                            letter-spacing: 0.5px;
                        }
                        &:last-child {
                            font-size: 16px;
                        }
                    }
                }
            }
            &:nth-child(2) {
                .saidbar-block-lang {
                    &-inner {
                        .saidbar-block-lang__progress {
                            &::before {
                                animation: langFirst 1.5s ease-out 1.3s forwards;
                            }

                        }
                    }
                }
            }
            &:nth-child(3) {
                .saidbar-block-lang {
                    &-inner {
                        .saidbar-block-lang__progress {
                            &::before {
                                animation: langSecond 1.5s ease-out 1.3s forwards;
                            }
                        }
                    }
                }
            }
            &:nth-child(4) {
                .saidbar-block-lang {
                    &-inner {
                        .saidbar-block-lang__progress {
                            &::before {
                                animation: langThird 1.5s ease-out 1.3s forwards;
                            }
                        }
                    }
                }
            }
        }
        &-lang {
            &__title {
                font-size: 18px;
                line-height: 120%;
            }
            &-inner {
                display: flex;
                align-items: center;
                margin-top: 3px;
                .saidbar-block-lang__progress {
                    width: 200px;
                    border-radius: 5px;
                    height: 12px;
                    background-color: #C4C4C4;
                    margin-right: 10px;
                    position: relative;
                    transition: all ease-in .3s;
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        background: #20B0A8;
                        height: 100%;
                        border-radius: 5px;
                    }
                    &:hover {
                        transform: scale(1.02);
                    }
                }
            }
        }
        .saidbar-list {
            &__item {
                padding-left: 15px;
                position: relative;
                &:not(:last-child) {
                    margin-bottom: 5px;
                }
                &::before {
                    border-radius: 50%;
                    content: '';
                    position: absolute;
                    top: 38%;
                    left: 0;
                    width: 5px;
                    height: 5px;
                    background: #20B0A8;
                }
            }
        }
    }
}
main {
    width: calc(100% - 300px);
    padding: 30px 60px;
    animation: mainAnim 0.5s ease-in 0.5s forwards;
    opacity: 0;
    
    .profile {
        margin-bottom: 30px;
        &__descr {
            font-size: 16px;
        }
    }
    .skills {
        margin-bottom: 5px;
        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .skills-item {
                width: 48%;
                position: relative;
                padding-left: 40px;
                margin-bottom: 10px;
                &::before {
                    content: '';
                    position: absolute;
                    top: 5px;
                    left: 0;
                    width: 25px;
                    height: 15px;
                    background: #20B0A8;
                    border-radius: 100px;
                }
                &__title {
                    font-size: 20px;
                    line-height: 120%;
                    font-family: 'Roboto Bold';
                    margin-bottom: 8px;
                }
                &-block {
                    display: flex;
                    flex-wrap: wrap;
                    &__item {
                        cursor: default;
                        font-family: 'Roboto Medium';
                        font-size: 16px;
                        width: fit-content;
                        padding: 3px 14px;
                        margin-right: 15px;
                        margin-bottom: 15px;
                        background: #363B60;
                        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
                        border-radius: 2px;
                        transition: all .3s linear;
                        &:last-child {
                            margin-right: 0;
                        }
                        &:hover {
                            background: #20B0A8;
                        }
                    }
                }
            }
        }
    }
    .education, .experience {
        &-list {
            margin-bottom: 30px;
            .education-item, .experience-item {
                position: relative;
                padding-left: 40px;
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
                &::before {
                    content: '';
                    position: absolute;
                    top: 5px;
                    left: 0;
                    width: 25px;
                    height: 15px;
                    background: #20B0A8;
                    border-radius: 100px;
                }
                &-header {
                    &-line {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        &:first-child {
                            margin-bottom: 5px;
                        }
                    }
                    &__title {
                        font-size: 20px;
                        line-height: 120%;
                        font-family: 'Roboto Bold';
                        max-width: 300px;
                    }
                    &__text {
                        display: inline-block;
                        font-size: 16px;
                        line-height: 120%;
                        &.education-item-header__text_orange, &.experience-item-header__text_orange {
                            color: #FB9D24;
                            max-width: 400px;
                        }
                    }
                    span.education-item-header__text, span.experience-item-header__text {
                        max-width: 270px;
                        text-align: right;
                    }
                    a.education-item-header__text {
                        border-bottom: 1px solid #FB9D24;
                    }
                }
                &__descr {
                    font-size: 16px;
                    margin-top: 10px;
                }
            }
        }
    }
    .experience {
        margin-bottom: 30px;
        &-project {
            display: flex;
            overflow-x: auto;
            width: calc(100% + 120px);
            transform: translateX(-60px);
            padding-bottom: 20px;
            &::-webkit-scrollbar {
                height: 16px;
                margin: 0 60px;
            }
            &::-webkit-scrollbar-track {
                background: #363B60;        /* цвет дорожки */
                box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
                margin: 0 60px;
                border-radius: 20px; 
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 20px;       /* закругления плашки */
                background: #20B0A8;  /* padding вокруг плашки */
                margin: 0 60px;
            }
            &-item {
                margin: 0 20px;
                &:first-child {
                    margin-left: 60px;
                }
                &:last-child {
                    margin-right: 60px;
                }
                .experience-project-block {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 10px;
                    iframe {
                        width: 300px;
                        height: 200px;
                    }
                    &__text {
                        background: #20B0A8;
                        padding: 7px 0;
                        text-align: center;
                        font-size: 18px;
                        font-family: 'Roboto Medium';
                    }
                }
                .experience-project-link {
                    font-size: 18px;
                    font-family: 'Roboto Medium';
                    border-bottom: 1px solid #20B0A8;
                    display: flex;
                    justify-content: center;
                    width: fit-content;
                    margin: 0 auto;
                }
            }
        }
        &-text {
            &__text {
                font-family: 'Roboto Medium';
                margin-top: 40px;
                margin-bottom: 10px;
                font-size: 16px;
                line-height: 167.5%;
                text-align: center;
            }
            &__link {
                font-family: 'Roboto Medium';
                text-transform: uppercase;
                font-size: 36px;
                line-height: 120%;
                color: #20B0A8;
                border-bottom: 1px solid #20B0A8;
                display: flex;
                justify-content: center;
                margin: 0 auto;
                width: fit-content;
            }
        }
    }
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 50px;
    background: #20B0A8;
    &__years {
        font-size: 20px;
    }
    &__link {
        img {
            width: 50px;
        }
        &:last-child {
            img {
                width: 80px;
            }
        }
    }
}

// Animations
@keyframes saidbarAvatar {
    0% {
        background-position-y: 330px;
    }
    100% {
        background-position-y: 0;
    }
}
@keyframes saidbarAnim {
    0% {
        left: -320px;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}
@keyframes mainAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes langFirst {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes langSecond {
    0% {
        width: 0;
    }
    100% {
        width: 85%;
    }
}
@keyframes langThird {
    0% {
        width: 0;
    }
    100% {
        width: 30%;
    }
}