@media screen and (max-width: 1250px) {
    main {
        padding: 30px 40px;
        .experience {
            &-project {
                width: calc(100% + 80px);
                transform: translateX(-40px);
                &::-webkit-scrollbar {
                    height: 10px;
                    margin: 0 40px;
                }
                &::-webkit-scrollbar-track {
                    margin: 0 40px;
                }
                &::-webkit-scrollbar-thumb {
                    margin: 0 40px;
                }
                &-item {
                    &:first-child {
                        margin-left: 40px;
                    }
                    &:last-child {
                        margin-right: 40px;
                    }
                    .experience-project-block {
                        iframe {
                            width: 250px;
                            height: 180px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1205px) {
    main {
        .skills-list {
            flex-direction: column;
            .skills-item {
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 992px) {
    h1, h2, h3, h4, p, a, button, span, input, li, blockquote {
        font-size: 14px;
    }
    blockquote {
        font-size: 10px;
    }
    .title {
        font-size: 16px;
        &::after {
            height: 25px;
        }
    }
    .s-title {
        font-size: 18px;
        padding: 5px 30px;
    }
    .saidbar {
        width: 240px;
        .header {
            height: 275px;
            &-info {
                &__title {
                    font-size: 20px;
                    span {
                        font-size: 20px;
                    }
                }
                &__specialise {
                    font-size: 14px;
                }
            }
        }
        &-block {
            &-item {
                &-inner {
                    .saidbar-block-item__text {
                        span {
                            &:first-child {
                                font-size: 16px;
                            }
                            &:last-child {
                                font-size: 14px;
                            }
                        }
                    }
                    .saidbar-block-item__icon {
                        width: 28px;
                        height: 28px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            &-lang {
                &__title {
                    font-size: 16px;
                }
            }
        }
    }
    main {
        width: calc(100% - 240px);
        .profile {
            &__descr {
                font-size: 14px;
            }
        }
        .skills-list {
            .skills-item {
                padding-left: 30px;
                &::before {
                    top: 3px;
                    width: 18px;
                    height: 10px;
                }
                &__title {
                    font-size: 16px;
                }
                &-block {
                    &__item {
                        font-size: 14px;
                    }
                }
            }
        }
        .education, .experience {
            &-list {
                .education-item, .experience-item {
                    padding-left: 30px;
                    &::before {
                        top: 3px;
                        width: 18px;
                        height: 10px;
                    }
                    &-header {
                        &__title {
                            font-size: 16px;
                        }
                        &__text {
                            font-size: 14px;
                        }
                        &-line {
                            &:first-child {
                                flex-direction: column;
                                align-items: flex-start;
                                .education-item-header__title, .experience-item-header__title {
                                    margin-bottom: 3px;
                                }
                            }
                        }
                    }
                    &__descr {
                        font-size: 14px;
                    }
                }
            }
        }
        .experience {
            margin-bottom: 0;
            &-project {
                &-item {
                    .experience-project-block {
                        iframe {
                            width: 250px;
                            height: 150px;
                        }
                        &__text {
                            font-size: 16px;
                            padding: 3px 0;
                        }
                    }
                    .experience-project-link {
                        font-size: 16px;
                    }
                }
            }
            &-text {
                &__text {
                    margin-top: 20px;
                    font-size: 14px;
                }
                &__link {
                    font-size: 24px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .title {
        text-align: center;
    }
    .container {
        flex-direction: column;
    }
    .saidbar {
        width: 100%;
        animation: none;
        left: 0;
        opacity: 1;
        .header {
            animation: none;
            background-position-y: 20%;
        }
        &-block {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            &:nth-child(5) {
                justify-content: center;
                .saidbar-block-item {
                    width: 220px;
                    margin-bottom: 15px;
                    &:nth-last-child(-n + 2) {
                        margin-bottom: 0;
                    }
                }
            }
            &:nth-child(6) {
                display: none;
            }
            &__title {
                width: 100%;
            }
            .saidbar-list {
                padding: 0 20px;
                display: flex;
                flex-wrap: wrap;
                &__item {
                    &:not(:last-child) {
                        margin-right: 25px;
                    }
                }
            }
            &-item {
                padding: 0;
                &:not(:nth-child(2)) {
                    margin-top: 0;
                }
            }
            &-lang {
                &-inner {
                    .saidbar-block-lang__progress {
                        width: 140px;
                    }
                }
            }
        }
    }
    main {
        width: 100%;
        padding: 30px 20px;
        .education {
            &-list {
                .education-item-header-line {
                    flex-wrap: wrap;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .title {
        padding: 4px 10px;
    }
    .saidbar {
        &-block {
            &-lang {
                &-inner {
                    .saidbar-block-lang__progress {
                        width: 262px;
                    }
                }
            }
            &:nth-child(5) {
                flex-direction: column;
                align-items: center;
                flex-wrap: nowrap;
                .saidbar-block__title {
                    margin-right: 42px;
                }
                .saidbar-block-item {
                    margin-bottom: 15px;
                    &:nth-last-child(-n + 2) {
                        margin-bottom: 15px;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        &-btn {
            margin: 30px auto;
        }
    }
    main {
        .education, .experience {
            &-list {
                .education-item, .experience-item {
                    &-header {
                        a.education-item-header__text {
                            border: none;
                            background: #FB9D24;
                            padding: 3px;
                            border-radius: 3px;
                            width: 100%;
                            text-align: center;
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
    .footer {
        &__link {
            img {
                width: 25px;
            }
            &:last-child {
                img {
                    width: 50px;
                }
            }
        }
        &__years {
            font-size: 14px;
        }
    }
}